<div id="content">
    <div class="container">
        <div class="row">

            <div class="st-course_header">
                <div class="st-course_banner"></div>
                <div class="st-course_caption">
                    <h2>
                        Курс разработки Objective-C
                    </h2>
                    <h3 class="h-slim course-header-subtitle h2">
                        Создаем что-то интересное... Скоро!
                    </h3>
                </div>
            </div>


            <!-- Course Information -->
            <article class="span8">

                <div class="st-course_attributes">

                    <!--&lt;!&ndash; Course level &ndash;&gt;-->
                    <!--<div class="st-course_attr">-->
                        <!--<img class="st-icon_small" src="../../i/icons/sett.png"/>-->
                        <!--<span>Уровень: <strong>Средний</strong></span>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; Duration &ndash;&gt;-->
                    <!--<div class="st-course_attr">-->
                        <!--<img class="st-icon_small" src="../../i/icons/calendar.png"/>-->
                        <!--<span>Длительность: <strong>2 месяца</strong></span>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; Tasks &ndash;&gt;-->
                    <!--<div class="st-course_attr">-->
                        <!--<img class="st-icon_small" src="../../i/icons/brick.png"/>-->
                        <!--<span>Практика: <strong>Создаем свой блог</strong></span>-->
                    <!--</div>-->
                    <!-- Tasks -->
                    <!--<div class="st-course_attr">-->
                        <!--<img class="st-icon_small" src="../../i/icons/bill.png"/>-->
                        <!--<span>Стоимость: <strong>3000 месяц</strong></span>-->
                    <!--</div>-->

                </div>
                <!--<div class="st-course_desription st-text_block">-->
                    <!--<h3>Краткое описание курса</h3>-->
                    <!--<p></p>-->
                <!--</div>-->
                <!--<div class="st-course_program st-text_block">-->
                    <!--<h3>Описание программы</h3>-->
                    <!--<p></p>-->
                <!--</div>-->
                <!--<div class="st-course_instructor st-text_block">-->
                    <!--<h3>Об инструкторе</h3>-->
                    <!--<img src="<%= properties.root + 'i/courses/objective_c/instructor.jpg' %>">-->
                    <!--<p></p>-->
                <!--</div>-->

            </article>

            <!-- Enrollment information and actions -->
            <article class="span4">
                <div class="st-course_enrollment st-border_left">
                    <h3 class="st-text_block">Запись на курс</h3>
                    <span class="st-btn __disable">Записаться</span>
                    <!--<div>-->
                        <!--<span></br>Ориентировочный старт занятий - середина ноября, по мере комплектования группы.</span>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<span></br>Первое занятие бесплатно. Вы сможете сами решить, подходит ли вас программа.</span>-->
                    <!--</div>-->

                    <!--<h3 class="st-text_block">Что вы получите</h3>-->
                    <!--<ul>-->
                        <!--<li># Доступ ко всем учебным семинарам</li>-->
                        <!--<li># Фидбек на вашу практику</li>-->
                        <!--<li># Советы по трудоустройству</li>-->
                        <!--<li># Персональные рекомендации, основанные на вашем уровне знаний</li>-->
                    <!--</ul>-->
                </div>
            </article>

        </div>
    </div>
</div>