<html lang="en">
<head>
    <% include partials/head_common %>
    <script>
        $(document).ready(function () {
//            jQuery('.camera_wrap').camera();
        });
    </script>
</head>

<body>
<div class="main">
    <% include partials/header %>

    <div class="div-footer"></div>
    <% include partials/footer.ejs %>
</div>

<!--<script type="text/javascript" src="js/templ/bootstrap.js"></script>-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

</body>
</html>