<footer>
    <div class="container">
        <div class="row">

            <article class="span6 fright">
                <ul class="list-icons">
                    <!--<li><a href="#" class="icon"></a></li>-->
                    <!--<li><a href="#" class="icon-1"></a></li>-->
                    <!--<li><a href="#" class="icon-2"></a></li>-->
                </ul>
            </article>
            <article class="span6 fleft">
                <div class="text-div"><span>coderock © 2014 | &nbsp;</span><br></div>
            </article>
        </div>
    </div>
</footer>