<html lang="en">
<head>
    <% include partials/head_common %>

    <script>
        $(window).load(function () {
            // Initialize the gallery
//            $('.magnifier').touchTouch();
        });
    </script>
</head>

<body>
<div class="main">
    <% include partials/header %>
    <div id="content">
        <div class="container">
            <div class="row">
                <article class="span12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a> <span class="divider">/</span></li>
                        <li><a href="#">Library</a> <span class="divider">/</span></li>
                        <li class="active">Data</li>
                    </ul>

                </article>
                <article class="span8">
                    <h2 class="h2indent-1">Latest news</h2>
                    <ul class="list-blog">
                        <li>
                            <div class="wrapper-extra">
                                <time class="badge" datetime="2013-01-01"><span>23</span>Mar</time>
                                <div class="extra-wrap">
                                    <span class="font14">Etiam cursus leo vel metus</span>

                                    <div class="fleft">
                                        <span class="dis-block">Posted by <a href="#">Admin</a></span>
                                    </div>
                                    <div class="fright comment">
                                        <a href="#">3 Comment(s)</a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-blog">
                                <figure class="img-polaroid"><img src="i/page-3-img.jpg" alt=""></figure>
                                <div class="extra-wrap">
                                    <p>
                                        Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum
                                        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                        mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at,
                                        cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies
                                        pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum
                                        dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed
                                        laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus.</p>
                                    <a href="#" class="btn btn-1">Read more</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="wrapper-extra">
                                <time class="badge" datetime="2013-01-01"><span>24</span>Mar</time>
                                <div class="extra-wrap">
                                    <span class="font14">Etiam cursus leo vel metus</span>

                                    <div class="fleft">
                                        <span class="dis-block">Posted by <a href="#">Admin</a></span>
                                    </div>
                                    <div class="fright comment">
                                        <a href="#">3 Comment(s)</a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-blog">
                                <figure class="img-polaroid"><img src="i/page-3-img-1.jpg" alt=""></figure>
                                <div class="extra-wrap">
                                    <p>
                                        Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum
                                        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                        mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at,
                                        cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies
                                        pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum
                                        dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed
                                        laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus.</p>
                                    <a href="#" class="btn btn-1">Read more</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="wrapper-extra">
                                <time class="badge" datetime="2013-01-01"><span>25</span>Mar</time>
                                <div class="extra-wrap">
                                    <span class="font14">Etiam cursus leo vel metus</span>

                                    <div class="fleft">
                                        <span class="dis-block">Posted by <a href="#">Admin</a></span>
                                    </div>
                                    <div class="fright comment">
                                        <a href="#">3 Comment(s)</a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-blog">
                                <figure class="img-polaroid"><img src="i/page-3-img-2.jpg" alt=""></figure>
                                <div class="extra-wrap">
                                    <p>
                                        Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum
                                        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                        mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at,
                                        cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies
                                        pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum
                                        dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed
                                        laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus.</p>
                                    <a href="#" class="btn btn-1">Read more</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </article>
                <article class="span4">
                    <h2 class="h2indent-1">Categories</h2>
                    <ul class="list">
                        <li><span></span><a href="#">Lorem ipsum dolor sit</a></li>
                        <li><span></span><a href="#">Amet consectetuer adipiscin</a></li>
                        <li><span></span><a href="#">Diam nonummy nibh</a></li>
                        <li><span></span><a href="#">Euismod tincidunt ut laoreet</a></li>
                        <li><span></span><a href="#">Magna aliquam erat</a></li>
                        <li><span></span><a href="#">Volutpat ut wisi enim</a></li>
                        <li><span></span><a href="#">Minim veniam quis</a></li>
                    </ul>
                    <div class="divider"></div>
                    <h2>Recent photos</h2>

                    <div class="box-staff">

                        <article class="span2">
                            <figure class="img-polaroid"><a href="i/image-blank.png" class="magnifier"><img
                                    src="i/page-3-img-3.jpg" alt=""></a></figure>
                        </article>
                        <article class="span2">
                            <figure class="img-polaroid"><a href="i/image-blank.png" class="magnifier"><img
                                    src="i/page-3-img-4.jpg" alt=""></a></figure>
                        </article>
                        <article class="span2">
                            <figure class="img-polaroid"><a href="i/image-blank.png" class="magnifier"><img
                                    src="i/page-3-img-5.jpg" alt=""></a></figure>
                        </article>
                        <article class="span2">
                            <figure class="img-polaroid"><a href="i/image-blank.png" class="magnifier"><img
                                    src="i/page-3-img-6.jpg" alt=""></a></figure>
                        </article>
                    </div>
                    <div class="divider"></div>
                    <h2 class="h2indent-1">Archives</h2>
                    <ul class="list">
                        <li><span></span><a href="#">January 2013</a></li>
                        <li><span></span><a href="#">December 2012</a></li>
                        <li><span></span><a href="#">November 2012</a></li>
                        <li><span></span><a href="#">October 2012</a></li>
                        <li><span></span><a href="#">September 2012</a></li>
                        <li><span></span><a href="#">August 2012</a></li>
                        <li><span></span><a href="#">July 2012</a></li>
                        <li><span></span><a href="#">June 2012</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
    <div class="div-footer"></div>
    <% include partials/footer %>
</div>

<!--<script type="text/javascript" src="js/templ/bootstrap.js"></script>-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

<div id="galleryOverlay" style="display: none;">
    <div id="gallerySlider">
        <div class="placeholder"></div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
    </div>
    <a id="prevArrow"></a><a id="nextArrow"></a></div>
</body>
</html>