<html lang="en">
<head>
    <% include partials/head_common %>

    <script>
        $(window).load(function () {
            jQuery(".maxheight").equalHeights();
        })
    </script>

</head>

<body>
<div class="main">
    <% include partials/header %>
    <div id="content">
        <div class="container container-about">
            <div class="row">
                <article class="span12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a> <span class="divider">/</span></li>
                        <li><a href="#">Library</a> <span class="divider">/</span></li>
                        <li class="active">Data</li>
                    </ul>
                </article>
                <article class="span4">
                    <h2 class="h2indent-1">Who we are</h2>
                    <section class="img-indent">
                        <figure class="img-polaroid"><img src="i/page-1-img.jpg" alt=""></figure>
                        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce
                            suscipit varius mi. et magnis dis parturient montes, nascetur. Nulla dui. Fusce feugiat
                            malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique
                            orci ac sem. </p>

                        <p>Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem
                            ipsum dolor sit amet, elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut
                            tellus dolor, </p>
                    </section>
                </article>
                <article class="span4">
                    <h2 class="h2indent-1">Our history</h2>


                    <dl class="list-history">
                        <dt>2003 -</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euid
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
                        </dd>
                        <dt>2005 -</dt>
                        <dd>Ut wisi enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut liquip ex ea commodo consequat.
                        </dd>
                        <dt>2007 -</dt>
                        <dd>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce
                            suscipit varius mi. Cum sociis natoque penatibus et magnis.
                        </dd>
                        <dt>2010 -</dt>
                        <dd>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis
                            natoque penatibus.
                        </dd>
                        <dt>2012 -</dt>
                        <dd>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</dd>
                        <dt>2013 -</dt>
                        <dd>Fusce suscit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</dd>
                    </dl>

                </article>
                <article class="span4">
                    <h2 class="h2indent-1">Job opportunities</h2>
                    <section class="div-opportunities">
                        <span class="font14">Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim.</span>

                        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce
                            suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio.</p>
                        <ul class="list">
                            <li><span></span><a href="#">Lorem ipsum dolor sit</a></li>
                            <li><span></span><a href="#">Amet consectetuer adipiscing elit</a></li>
                            <li><span></span><a href="#">Diam nonummy nibh</a></li>
                            <li><span></span><a href="#">Euismod tincidunt ut laoreet</a></li>
                            <li><span></span><a href="#">Magna aliquam erat</a></li>
                            <li><span></span><a href="#">Volutpat ut wisi enim</a></li>
                        </ul>
                        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce
                            suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio.</p>
                    </section>
                </article>
            </div>
            <div class="row">
                <article class="span12">
                    <div class="divider-1"></div>
                </article>
            </div>

            <div class="row">
                <article class="span12">
                    <h2 class="h2indent-1">The best of professionals</h2>
                </article>
                <ul class="thumbnails-1">
                    <li class="thumbnail-1 span3">
                        <div class="block-thumbnail-1 maxheight" style="height: 434px;">
                            <figure class="img-polaroid"><img src="i/page-1-img-1.jpg" alt=""></figure>
                            <span class="font14">Mark Johnson</span>

                            <p>Praesent vestibum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce
                                suscipit varius mi. </p>
                        </div>
                    </li>
                    <li class="thumbnail-1 span3">
                        <div class="block-thumbnail-1 maxheight" style="height: 434px;">
                            <figure class="img-polaroid"><img src="i/page-1-img-2.jpg" alt=""></figure>
                            <span class="font14">Bradley Grosh</span>

                            <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consetuer adipiscing elit.
                                Pellentesque sed dolor. </p>
                        </div>
                    </li>
                    <li class="thumbnail-1 span3">
                        <div class="block-thumbnail-1 maxheight" style="height: 434px;">
                            <figure class="img-polaroid"><img src="i/page-1-img-3.jpg" alt=""></figure>
                            <span class="font14">Patrick Pool</span>

                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                consequuntur magni. </p>
                        </div>
                    </li>
                    <li class="thumbnail-1 span3">
                        <div class="block-thumbnail-1 maxheight" style="height: 434px;">
                            <figure class="img-polaroid"><img src="i/page-1-img-4.jpg" alt=""></figure>
                            <span class="font14">John McCoist</span>

                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.
                                Vestibulum ante ipsum primis. </p>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="row">
                <article class="span12">
                    <div class="divider-2"></div>
                </article>
            </div>
            <div class="row">
                <article class="span4">
                    <h2 class="h2indent-1">Advantages</h2>
                    <ul class="list-1">
                        <li>
                            <img src="i/marker.png" alt="">

                            <p>Lorem ipsum dolor sit amet, conse
                                ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                        </li>
                        <li>
                            <img src="i/marker-1.png" alt="">

                            <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                Pellentesque sed dolor. Aliquam congue fermentum nisl. </p>
                        </li>
                        <li>
                            <img src="i/marker-2.png" alt="">

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                                velit, sed quia non numquam eius modi tempora.</p>
                        </li>
                    </ul>
                </article>
                <article class="span3">
                    <h2 class="h2indent-1">Skills</h2>

                    <p>Lorem ipsum dolor sit amet, conse
                        ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magn aliquam
                        erat volutpat. </p>
                    <ul class="list">
                        <li><span></span><a href="#">Lorem ipsum dolor sit</a></li>
                        <li><span></span><a href="#">Amet consectetuer adipiscing elit</a></li>
                        <li><span></span><a href="#">Diam nonummy nibh</a></li>
                        <li><span></span><a href="#">Euismod tincidunt ut laoreet</a></li>
                        <li><span></span><a href="#">Magna aliquam erat</a></li>
                    </ul>
                </article>
                <article class="span5">
                    <h2 class="h2indent-1">Success story</h2>

                    <div class="block-testimonials">
                        <figure class="img-polaroid"><img src="i/page-1-img-5.jpg" alt=""></figure>
                        <div class="extra-wrap">
                            <h3>Jessica Priston</h3>

                            <p>“Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio...”</p>

                            <div class="name">
                                <span><a href="#">Jessica Priston</a></span>
                                <strong>Manager, NYC</strong>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="div-footer"></div>
    <% include partials/footer %>
</div>

<!--<script type="text/javascript" src="js/templ/bootstrap.js"></script>-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

</body>
</html>