<html lang="en">
<head>
    <% include partials/head_common %>
</head>

<body>
<div class="main">
    <% include partials/header %>
    <div id="content">
        <div class="container">
            <div class="row">
                <article class="span12">
                    <ul class="breadcrumb">
                        <!--<li><a href="#">Home</a> <span class="divider">/</span></li>-->
                        <!--<li><a href="#">Library</a> <span class="divider">/</span></li>-->
                        <!--<li class="active">Data</li>-->
                    </ul>
                </article>
                <article class="span4">
                    <h2>Адрес</h2>
                    <address class="adress-1">
                        <strong>Главный офис</strong>
                        <strong class="title1">Россия, Москва</strong>
                        <strong class="title1">Ленинградский проспект 39</strong>
                        <em><span>Индекс:</span>125167</em>
                        <em><span>Телефон:</span>+7 920 450 5665</em>
                        <em><span>E-mail:</span><a href="mailto:info@coderock.ru"> info@coderock.ru</a></em>
                    </address>
                </article>
                <article class="span12">
                    <figure class="map">
                        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=rkylaPqsAmH8ylk0zh1zv1n64862piKX&width=600&height=450"></script>
                    </figure>

                </article>
                <!--<article class="span8">-->
                    <!--<h2>Contact form</h2>-->

                    <!--<form id="contact-form">-->
                        <!--<div class="success" style="display: none;"> Contact form submitted! <strong>We will be in touch-->
                            <!--soon.</strong></div>-->
                        <!--<fieldset>-->
                            <!--<div>-->
                                <!--<div class="form-div-1">-->
                                    <!--<label class="name">-->
                                        <!--<input type="text" value="Name:">-->
                                        <!--<br>-->
                                        <!--<span class="error" style="display: none;">*This is not a valid name.</span>-->
                                        <!--<span class="empty" style="display: none;">*This field is required.</span>-->
                                    <!--</label>-->
                                <!--</div>-->

                                <!--<div class="form-div-2">-->
                                    <!--<label class="email">-->
                                        <!--<input type="email" value="Email:">-->
                                        <!--<br>-->
                                        <!--<span class="error"-->
                                              <!--style="display: none;">*This is not a valid email address.</span> <span-->
                                            <!--class="empty" style="display: none;">*This field is required.</span>-->
                                    <!--</label>-->
                                <!--</div>-->

                                <!--<div class="form-div-3">-->
                                    <!--<label class="phone">-->
                                        <!--<input type="tel" value="Phone:">-->
                                        <!--<br>-->
                                        <!--<span class="error"-->
                                              <!--style="display: none;">*This is not a valid phone number.</span> <span-->
                                            <!--class="empty" style="display: none;">*This field is required.</span>-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<label class="message">-->
                                    <!--<textarea>Message:</textarea>-->
                                    <!--<br>-->
                                    <!--<span class="error" style="display: none;">*The message is too short.</span> <span-->
                                        <!--class="empty" style="display: none;">*This field is required.</span>-->
                                <!--</label>-->
                            <!--</div>-->

                            <!--<div class="buttons-wrapper"><a data-type="submit" class="btn btn-1"><span></span>Send-->
                                <!--Message</a></div>-->
                        <!--</fieldset>-->
                    <!--</form>-->

                <!--</article>-->

            </div>
        </div>
    </div>
    <div class="div-footer"></div>
    <% include partials/footer %>
</div>

<!--<script type="text/javascript" src="js/templ/bootstrap.js"></script>-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

</body>
</html>