<html lang="en">
<head>
    <% include partials/head_common %>
</head>

<body>
<div class="main">
    <% include partials/header %>

    <%- content %>

    <div class="container" style="margin-bottom: 30px;">
        <span>Если есть вопросы, посмотрите</span>
        <a href="<%= properties.root + pages.faqPage %>" class="btn btn-1">FAQ</a>
    </div>

    <div class="div-footer"></div>
    <% include partials/footer %>
</div>

<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

</body>
</html>