<!doctype html>
<html>
<head>
    <% include partials/head_common %>
</head>
<body>
<div class="main">
    <% include partials/header %>
    <div class="container" style="padding-top: 30px; min-height: 600px; width: 600px; margin-bottom: 120px;">

        <h3>Зачем мне эти курсы</h3>
        <p>
        Существует много бесплатных статей, видео-блогов, литературы и тому подобное, так зачем мне эти курсы?
        В первую очередь это возможность пообщаться с инструкторами, которые и сами в том числе проводят собеседования в IT-компаниях, получить фидбек и индивидуальные указания к своей практике.
        К тому же, самому организовать и соблюдать процесс обучения очень непросто.
        </p>
        <h3>Я в вузе учился, этого мало?</h3>
        <p>
        Выпускников вузов много, но потребности ИТ компаний до сих пор не удовлетворены. Кандидатам не хватает как теории так и практики.
        Технологии развиваются настолько стремительно, что классическое образование не успевает за ними. Преподаватели вузов, в большинстве своем, лишь теоретики.
        Наша подготовка даст вам бесспорное преимущество при собеседовании, позволит почувствовать себя увереннее.
        </p>
        <h3>Программисты сейчас востребованы?</h3>
        <p>
        Вакансии программистов и других специалистов в области ИТ остаются высокооплачиваемыми и перспективными. Например, в Москве зарплаты веб программистов начинаются от 30-40 и могут доходить до 120-150 тысяч. Все зависит от реальных навыков и опыта работы. Поэтому, осваивайте скорее!
        </p>
        <h3>Как будет проходить обучение?</h3>
        <p>
        Обучение происходит в виде серии вебинаров с домашними заданиями. Вам будет дан личный фидбек и рекомендации.
        Обучение начинается по мере набора группы.
        Главное: не бойтесь спрашивать - все мы тоже начинали профессиональный путь с обучения основам.
        </p>
        <h3>Если мне не понравится?</h3>
        <p>
        Первый урок бесплатный. Вы не обязаны соглашаться. Сами оцените, подойдет ли вам программа, насколько интересен рассказ интсруктора. Реально ли он производит впечатление профессионала, который способен вас чему-то научить :)
        </p>
        <h3>Как оплатить?</h3>
        <p>
        Если вы поймете что вам подходит обучение, то сможете произвести оплату переводом с карт Visa или Mastercard.
        Ваши затраты с лихвой окупятся, надеемся ваш будущий оклад покроет несколько подобных курсов :)
        </p>
        <br>
        <p>Если есть другие вопросы, свяжитесь с нами одним из удобных способов.</p>
    </div>
    <% include partials/footer %>
</div>
</body>
</html>
