<html lang="en">
<head>
    <% include partials/head_common %>
    <script>
        $(document).ready(function () {
//            jQuery('.camera_wrap').camera();
        });
    </script>
</head>

<body>
<div class="main">
    <% include partials/header %>
    <div id="content">
    <div class="container">
        <div class="row">
            <article class="span12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a> <span class="divider">/</span></li>
                    <li><a href="#">Library</a> <span class="divider">/</span></li>
                    <li class="active">Data</li>
                </ul>
            </article>
            <article class="span12">
                <div class="slider">
                    <div class="st-cam_cnt">
                        <div class="camera-caption">
                            <span>We Provide<br>
                            Cloud-Based <br>
                            Services</span>
                            <a href="#" class="btn btn-1">Read More</a>
                        </div>
                    </div>

                    <!--<div class="camera_wrap" style="display: block; height: 428px;"><div class="camera_fakehover"><div class="camera_src camerastarted camerasliding">-->
                    <!--<div data-src="i/slide.png">-->

                    <!--</div>-->
                    <!--<div data-src="i/slide-1.png">-->

                    <!--</div>-->
                    <!--<div data-src="i/slide-2.png">-->

                    <!--</div>-->
                    <!--</div><div class="camera_target"><div class="cameraCont"><div class="cameraSlide cameraSlide_0 cameracurrent" style="visibility: visible; display: block; z-index: 999;"><img src="i/slide.png?1413178127865" class="imgLoaded" data-alignment="" data-portrait="" width="1169" height="428" style="visibility: visible; height: 428.366124893071px; margin-left: 0px; margin-top: 0px; position: absolute; width: 1170px;"><div class="camerarelative" style="width: 1170px; height: 428px;"></div></div><div class="cameraSlide cameraSlide_1 cameranext" style="display: none; z-index: 1;"><img src="i/slide-1.png?1413178129055" class="imgLoaded" data-alignment="" data-portrait="" width="1169" height="428" style="visibility: visible; height: 428.366124893071px; margin-top: 0px; position: absolute; margin-left: 0px; width: 1170px;"><div class="camerarelative" style="width: 1170px; height: 428px;"></div></div><div class="cameraSlide cameraSlide_2 cameranext" style="display: none; z-index: 1;"><img src="i/slide-2.png?1413178138590" class="imgLoaded" data-alignment="" data-portrait="" width="1169" height="428" style="visibility: visible; height: 428.366124893071px; margin-left: 0px; margin-top: 0px; position: absolute; width: 1170px;"><div class="camerarelative" style="width: 1170px; height: 428px;"></div></div><div class="cameraSlide cameraSlide_3 cameranext" style="z-index: 1; display: none;"><div class="camerarelative" style="width: 1170px; height: 428px;"></div></div><div class="cameraappended" style="display: block; overflow: hidden; position: absolute; z-index: 1000; height: 428.018906157644px; left: 0px; top: 0px; width: 1170.01890615764px; margin-left: 0px; margin-top: 0px; opacity: 0.0189061576440515;"><div class="cameraSlide cameraSlide_1 cameranext" style="z-index: 1; display: block; height: 428px; margin-left: 0px; margin-top: 0px; width: 1170px;"><img src="i/slide-1.png?1413178129055" class="imgLoaded" data-alignment="" data-portrait="" width="1169" height="428" style="visibility: visible; height: 428.366124893071px; margin-top: 0px; position: absolute; margin-left: 0px; width: 1170px;"><div class="camerarelative" style="width: 1170px; height: 428px;"></div></div></div></div></div><div class="camera_target_content"><div class="cameraContents"><div class="cameraContent cameracurrent" style="display: block; opacity: 0.248336111111111;"><div class="camera-caption">-->
                    <!--<span> For Business Of <br>-->
                    <!--Every Size And<br> Scope!</span>-->
                    <!--<a href="#" class="btn btn-1">Read More</a>-->
                    <!--</div></div><div class="cameraContent" style="display: none;"><div class="camera-caption">-->
                    <!--<span>We Provide<br>-->
                    <!--Cloud-Based <br>-->
                    <!--Services</span>-->
                    <!--<a href="#" class="btn btn-1">Read More</a>-->
                    <!--</div></div><div class="cameraContent" style="display: none;"><div class="camera-caption">-->
                    <!--<span>We will show you<br> the way to<br> success!</span>-->
                    <!--<a href="#" class="btn btn-1">Read More</a>-->
                    <!--</div></div></div></div><div class="camera_bar" style="display: none; top: auto; height: 7px;"><span class="camera_bar_cont" style="opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: rgb(34, 34, 34);"><span id="pie_0" style="opacity: 0; position: absolute; left: 0px; right: 0px; top: 2px; bottom: 2px; display: none; background-color: rgb(238, 238, 238);"></span></span></div></div><div class="camera_loader" style="display: none; visibility: visible;"></div></div>-->
                </div>

            </article>

        </div>
        <div class="row">
            <article class="span6">
                <h2 class="h2indent">Welcome to our company!</h2>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euid
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut liquip ex ea commodo consequat.
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse mol.</p>

                    <div class="author">
                        <a href="#">Mark Smith</a>
                        <span>Cofounder</span>
                    </div>
                </blockquote>
            </article>
            <article class="span6">
                <div class="block-img">
                    <figure class="img-polaroid img-1"><img src="i/page-img.jpg" alt=""></figure>
                    <figure class="img-polaroid"><img src="i/page-img-1.jpg" alt=""></figure>
                    <figure class="img-polaroid"><img src="i/page-img-2.jpg" alt=""></figure>
                </div>
            </article>

            <article class="span12">
                <div class="divider"></div>
            </article>
        </div>
        <div class="row">
            <article class="span4">
                <div class="block-indent">
                    <span class="img-1"></span>

                    <div class="extra-wrap">
                        <h3>Unified <br>
                            Communications</h3>

                        <p>Lorem ipsum dolor sit amet, conse
                            ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magn
                            aliquam erat volutpat. </p>
                        <a href="#" class="link">Continue Reading</a>
                    </div>
                </div>
            </article>
            <article class="span4">
                <div class="block-indent">
                    <span class="img-2"></span>

                    <div class="extra-wrap">
                        <h3>Virtual Phone <br>
                            System</h3>

                        <p>Lorem ipsum dolor sit amet, conse
                            ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magn
                            aliquam erat volutpat. </p>
                        <a href="#" class="link">Continue Reading</a>
                    </div>
                </div>
            </article>
            <article class="span4">
                <div class="block-indent">
                    <span class="img-3"></span>

                    <div class="extra-wrap">
                        <h3>Email <br>
                            Marketing</h3>

                        <p>Lorem ipsum dolor sit amet, conse
                            ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magn
                            aliquam erat volutpat. </p>
                        <a href="#" class="link">Continue Reading</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <div class="divider"></div>
        </div>
        <div class="row">
            <article class="span4">
                <div class="block-indent">
                    <span class="img-4"></span>

                    <div class="extra-wrap">
                        <h3>postal address</h3>
                        <address class="adress">
                            <strong>Com.Unication .</strong>
                            <strong class="title1">795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107</strong>
                            <em>p (123) 456-7890</em>
                            <a href="#">yourmail@demolink.org</a>
                        </address>
                    </div>
                </div>
            </article>
            <article class="span4">
                <div class="block-indent">
                    <span class="img-5"></span>

                    <div class="extra-wrap">
                        <h3>testimonials</h3>
                        <blockquote>
                            <p>“ Lorem ipsum dolor sit amet, consecuer adipiscing elit, sed diam nonummy nibh euismod
                                tincidunt ut laoreet dolore
                                magna aliquam erat volutpat. ”</p>

                            <div class="author">
                                <a href="#">Sarah Smith</a>
                                <span>USA</span>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </article>
            <article class="span4">
                <div class="block-indent">
                    <span class="img-6"></span>

                    <div class="extra-wrap">
                        <h3>useful links</h3>
                        <ul class="list">
                            <li><span></span><a href="#">Lorem ipsum dolor sit</a></li>
                            <li><span></span><a href="#">Amet consectetuer adipiscin</a></li>
                            <li><span></span><a href="#">Diam nonummy nibh</a></li>
                            <li><span></span><a href="#">Euismod tincidunt ut laoreet</a></li>
                            <li><span></span><a href="#">Magna aliquam erat</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
    </div>
    <div class="div-footer"></div>
    <% include partials/footer.ejs %>
</div>

<!--<script type="text/javascript" src="js/templ/bootstrap.js"></script>-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

</body>
</html>