<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <% include partials/head_common %>
</head>
<body>
<div class="main">
    <% include partials/header %>
    <div class="container" style="padding-top: 30px; min-height: 600px;">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span>Профиль</h1>
        </div>

        <div class="row">

            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span>Настройки</h3>

                    <p>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>Телефон</strong>: <%= user.local.phone %><br>
                        <strong>Ваши подписки:</strong><br>
                        <% for (var key in userCourses) {%>
                        <span><%= userCourses[key].name %><br></span>
                        <%}%>
                    </p>

                </div>
            </div>

        </div>
        <a href="/logout" class="btn btn-default btn-sm">Выйти</a>
    </div>
    <% include partials/footer %>
</div>
</body>
</html>