html,
body,
.main {
    height: 100%;
}
body {
    background: #ffffff;
}
body .main {
    height: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
}
p {
    margin-bottom: 24px;
}
/* headings, text */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 200;
    font-family: 'Helvetica', sans-serif;
}
a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a {
    outline: none;
}
h2 {
    position: relative;
    display: block;
    color: #182025;
    font-size: 28px;
    line-height: 1em;
}
.h2indent {
    margin: 72px 0 23px 0;
}
.h2indent-1 {
    margin: 40px 0 27px 0;
}
h3 {
    position: relative;
    display: block;
    color: #182025;
    font-size: 24px;
    line-height: 21px;
}
#content ul {
    list-style: none;
}

.st-study_content {
    width: 774px;
    height: 336px;
    border-width: 1;
    border-style: solid;
    }

.st-correct_cnt {
    color: #00ff00;
    }

.st-failed_cnt {
    color: #ff1100;
    }

.st-btn {
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #eda933;
    padding:9px 23px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
    background:-ms-linear-gradient( top, #f6b33d 5%, #d29105 100% );
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f6b33d), color-stop(100%, #d29105) );
    background-color:#f6b33d;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 0px #cd8a15;
    -webkit-box-shadow:inset 1px 1px 0px 0px #fed897;
    -moz-box-shadow:inset 1px 1px 0px 0px #fed897;
    box-shadow:inset 1px 1px 0px 0px #fed897;
    }

.st-btn:hover {
    background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
    background:-ms-linear-gradient( top, #d29105 5%, #f6b33d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #d29105), color-stop(100%, #f6b33d) );
    background-color:#d29105;
    }

.st-btn.__disable {
    border:1px solid #b2b2b2;
    background-color: #b2b2b2;
    background:-moz-linear-gradient( center top, rgba(227, 220, 211, 0.10) 5%, #a69f99 100% );
    background:-ms-linear-gradient( top, #e3dcd3 5%, #a69f99 100% );
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #e3dcd3), color-stop(100%, #a69f99) );
    -webkit-box-shadow:inset 1px 1px 0px 0px rgba(136, 115, 80, 0.10);
    -moz-box-shadow:inset 1px 1px 0px 0px #888686;
    box-shadow:inset 1px 1px 0px 0px #888686;
    text-shadow:none;
    }

.st-cam_cnt {
    background: url(../i/index.jpg);
    position: relative;
    width: 1172px;
    height: 400px;
    }

.st-course_header {
    margin-left: 30px;
    }

.st-course_banner {
    width: 1170px;
    height: 250px;
    background: url(../i/title.jpg) no-repeat;
    }
    .st-course_banner.__web_dev {
        background: url(../i/courses/web_dev/title.png) no-repeat;
        }

.st-course_caption {
    text-align: center;
    padding: 20px 0 20px 0;
    }

.st-course_attributes {
    padding: 10px 0 10px 0;
    }

.st-course_attr {
    line-height: 40px;
    }

.st-course_enrollment {
    padding-left: 10px;
    width: 340px;
    float: left;
    }

.st-icon_small {
    float: left;
    margin: 3px 10px 0 0;
    max-width: 100%;
    height: 36px;
    vertical-align: middle;
    border: 0;
    }

.st-border_left {
    border-left: solid 1px #dcdcdc;
    }

.st-text_block {
    padding: 5px 0 5px 0;
    }
